<ion-header>
    <ion-navbar transparent>
        <button class="white" ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Favorite</ion-title>
        <ion-buttons end>
            <button class="white" ion-button small clear *ngIf="mode==='card'" (click)="makelist()"><ion-icon name="list"></ion-icon></button>
            <button class="white" ion-button small clear *ngIf="mode==='list'" (click)="makecard()"><ion-icon name="grid"></ion-icon></button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="back">
    <ion-list text-wrap *ngIf="mode==='list'">
        <ion-item no-lines *ngFor="let msg of messages">
            <ion-thumbnail item-right>
              <img src="{{this.imageUrl}}{{msg.picture}}" />
            </ion-thumbnail>
            <span class="positive">{{msg.time_created | date}}</span>
            <h2 class="title"><b>{{msg.title}}</b></h2>
            <button ion-button clear (click)="detail(msg)"> <ion-icon style="font-size: 30px;" name="eye"></ion-icon> </button>
            <button ion-button clear (click)="delete(msg)"> <ion-icon style="font-size: 30px;" name="trash"></ion-icon> </button>
        </ion-item>
    </ion-list>
    <ion-list *ngIf="mode==='card'">
        <ion-card *ngFor="let msg of messages">
            <ion-item>
              <span class="postive">{{msg.time_created | date}}</span>
                <h2><b>{{msg.title}}</b></h2>
            </ion-item>
            <ion-card-content>
              <img src="{{this.imageUrl}}{{msg.picture}}" class="img-card" />
                <p class="details">{{msg.description}}</p>
            </ion-card-content>
            <ion-item>
              <button ion-button clear (click)="detail(msg)"> <ion-icon style="font-size: 30px;" name="eye"></ion-icon> </button>
              <button ion-button clear (click)="delete(msg)"> <ion-icon style="font-size: 30px;" name="trash"></ion-icon> </button>
            </ion-item>
        </ion-card>
    </ion-list>
</ion-content>
