<ion-header no-border>
    <ion-navbar transparent>
        <button class="white" ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Special Messages</ion-title>
        <ion-buttons end>
            <button class="white" ion-button small clear *ngIf="mode==='card'" (click)="makelist()"><ion-icon name="list"></ion-icon></button>
            <button class="white" ion-button small clear *ngIf="mode==='list'" (click)="makecard()"><ion-icon name="grid"></ion-icon></button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list text-wrap *ngIf="mode==='list'">
        <ion-item no-lines (click)="detail(msg)" *ngFor="let msg of messages">
            <ion-thumbnail item-right>
                <img src="http://img.youtube.com/vi/{{getVideoURL(msg.picture, 'v')}}/default.jpg" />
            </ion-thumbnail>
            <span class="category">{{msg.time_created | date}}</span>
            <h2 class="title"><b>{{msg.title}}</b></h2>
        </ion-item>
    </ion-list>
    <ion-list *ngIf="mode==='card'">
        <ion-card (click)="detail(msg)" *ngFor="let msg of messages">

            <ion-item>
                <span class="positive">{{msg.time_created | date}}</span>
                <h2 class="title"><b>{{msg.title}}</b></h2>
            </ion-item>

            <ion-card-content>
                <img src="http://img.youtube.com/vi/{{getVideoURL(msg.picture, 'v')}}/default.jpg" class="img-card" />
                <p class="details">{{msg.description.substr(0,100)}}...<a href="#">More</a></p>
            </ion-card-content>
        </ion-card>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="getNext($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
