page-about-us {
    .white-bg {
        background: #fff;
    }
    .category {
        font-size: 15px;
        color: $bleu_3;
    }
    .title {
        font-size: 23px;
    }
    .date {
        color: #888;
    }
    .details {
        line-height: 30px;
        font-size: 16px;
        text-align: justify;
    }
    
    i.fa {
        display: inline-block;
        padding: 0.1em 0.1em;
        color: rgb(63, 63, 85);
      }
      .row {
        border-top: 0px solid #79a6d2 !important;
        padding: 5px !important;
        display: -webkit-flex;
        flex-wrap: wrap;
      }
}
  